@import '../../../../../scss/colors.scss';

$menu-size: 100%;

.livros-chapters {
	width: 0;
	position: fixed;

	bottom: 0;
	right: 0;

	height: 100%;

	overflow-y: auto;
	overflow-x: hidden;

	background-color: $info-color;

	transition-duration: 0.3s;
	transition-property: transform;

	.livros {
		p {
			font-size: 1.5rem;
			font-weight: 500;
		}

		input:focus-visible {
			outline: none;
		}

		input[type='text'] {
			margin-top: 1rem;
			height: 2.5rem;
			width: 100%;
			padding: 0 1rem;
			border-radius: 16px;
			border: none;
			border: solid 1px rgba(95, 95, 95, 0.2);
		}

		margin-bottom: 1rem;
	}

	.chapters {
		display: flex;
		justify-content: space-between;
		p {
			font-size: 1.5rem;
			font-weight: 500;

			display: flex;
			align-items: center;
			cursor: pointer;

			img {
				width: 1.5rem;
				margin-right: 1rem;
			}
		}

		margin-bottom: 1rem;
	}

	&.dark {
		background-color: $dark-mode-menu-color;

		.livros,
		.chapters {
			p {
				color: $light-mode-color;
			}
		}
	}

	&.expanded-menu {
		width: $menu-size;
		padding: 1rem 3.5rem 1rem 1rem;
		transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
	}

	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);

	.cards {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		font-weight: 500;

		.card {
			width: 18.875rem;
			background: rgba(215, 212, 212, 0.26);
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			&.chapter {
				width: 5.5rem;
			}

			border-radius: 4px;
			height: 4rem;
			cursor: pointer;

			img {
				position: absolute;
				top: -4px;
				right: 5px;
				width: 2rem;
			}
		}

		&.dark {
			color: $light-mode-color;
		}
	}
}

.livros-chapters::-webkit-scrollbar {
	width: 1px;
}

.livros-chapters::-webkit-scrollbar-thumb {
	background: $light-mode-color;
}

.btn {
	position: fixed;
	cursor: pointer;

	background: rgb(215 212 212 / 0.5);

	display: flex;
	justify-content: center;
	align-items: center;

	width: 2.5rem;
	height: 2.5rem;

	border-radius: 50%;
	right: 0.5rem;

	font-weight: 600;

	&.theme {
		top: 1rem;
	}

	&.plus {
		top: 4rem;
	}

	&.anyLess {
		top: 7rem;
	}

	&.book {
		bottom: 2.5rem;

		writing-mode: vertical-lr;
		text-orientation: upright;

		height: fit-content;
		padding: 0.5rem 0;

		img {
			margin-top: 0.5rem;
			width: 2rem;
		}

		.rotate {
			transform: rotate(180deg);
		}

		border-radius: 4px;
	}

	&.dark {
		color: $light-mode-color;
	}
}
