<div
	class="livros-chapters"
	[ngClass]="{ dark: theme === 'dark', 'expanded-menu': expanded }"
>
	<div class="livros" *ngIf="!showCapters; else chaptersTemplate">
		<p>Livros</p>
		<input
			type="text"
			placeholder="Buscar livro..."
			(input)="searchBooks($event.target)"
		/>
	</div>
	<ng-template #chaptersTemplate>
		<div class="chapters">
			<p>Captúlos</p>

			<p (click)="comeBack()">
				<img
					*ngIf="theme === 'dark'"
					src="assets/img/caret-left-bold-ligth.svg"
					alt="Icone para voltar aos livros"
				/>
				<img
					*ngIf="theme === 'ligth'"
					src="assets/img/caret-left-bold.svg"
					alt="Icone para voltar aos livros"
				/>
				Voltar
			</p>
		</div>
	</ng-template>
	<div class="cards" [ngClass]="{ dark: theme === 'dark' }">
		<ng-container *ngIf="!showCapters; else chapterTemplate">
			<div
				class="card"
				*ngFor="let livro of filterBooks()"
				(click)="selectBook(livro.livro)"
			>
				{{ livro.livro }}
				<img
					*ngIf="livroSelected.livro === livro.livro"
					src="assets/img/mark.svg"
					alt="Marcador"
				/>
			</div>
		</ng-container>
		<ng-template #chapterTemplate>
			<ng-container *ngIf="showCapters">
				<div
					class="card chapter"
					*ngFor="let chapter of chapters"
					(click)="selectChapter(chapter.chapterNumber)"
				>
					{{ chapter.chapterNumber + 1 }}
					<img
						*ngIf="livroSelected.chapter === chapter.chapterNumber"
						src="assets/img/mark.svg"
						alt="Marcador"
					/>
				</div>
			</ng-container>
		</ng-template>
	</div>
</div>

<div
	class="btn book"
	[ngClass]="{ dark: theme === 'dark' }"
	(click)="expandedMenu()"
>
	MENU
	<img
		[ngClass]="{ rotate: expanded }"
		*ngIf="theme === 'ligth'"
		src="assets/img/menu_open_black.svg"
		alt="Book image"
	/>
	<img
		[ngClass]="{ rotate: expanded }"
		*ngIf="theme === 'dark'"
		src="assets/img/menu_open_ligth.svg"
		alt="Book image"
	/>
</div>

<div
	class="btn theme"
	*ngIf="theme === 'ligth'"
	(click)="changeTheme(eTheme.DARK)"
>
	<img src="assets/img/moon.svg" alt="Theme dark" />
</div>

<div
	class="btn theme"
	*ngIf="theme === 'dark'"
	(click)="changeTheme(eTheme.LIGTH)"
>
	<img src="assets/img/sun.svg" alt="Theme dark" />
</div>

<div class="btn plus {{ theme }}" (click)="plusSize()">A+</div>
<div class="btn anyLess {{ theme }}" (click)="anyLessSize()">a-</div>
