$primary-color: #3366ff;
$success-color: #3ce03c;
$info-color: #3aa3ff;
$warning-color: #ffa602;
$danger-color: #ff413a;

$dark-mode-color: #2c3639;
$dark-mode-menu-color: #16213e;
$light-mode-color: #fafafa;

$dark-mode-hove-color: #4b597e;
